# Manifest describing source package contents

graft azure_li_services/units
graft package
graft systemd

include tox.ini
include README.md
include LICENSE

recursive-include *.py *.rst

global-exclude *.py[cod] __pycache__

include .virtualenv.dev-requirements.txt
include .virtualenv.requirements.txt
