[Unit]
Description=Setup of Azure Li/VLi Storage Mountpoints
ConditionPathExists=/.azure-li-storage.trigger
After=azure-li-config-lookup.service azure-li-network.service network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/azure-li-storage
ExecStartPost=/bin/bash -c 'rm -f /.azure-li-storage.trigger'

[Install]
WantedBy=multi-user.target
