[Unit]
Description=System Setup of Azure Li/VLi machine
ConditionPathExists=/.azure-li-system-setup.trigger
After=azure-li-config-lookup.service azure-li-install.service systemd-hostnamed.service azure-li-network.service network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/azure-li-system-setup
ExecStartPost=/bin/bash -c 'rm -f /.azure-li-system-setup.trigger'

[Install]
WantedBy=multi-user.target
