[Unit]
Description=Cleanup/Uninstall Azure Li/VLi services
ConditionPathExists=/.azure-li-cleanup.trigger
After=azure-li-report.service
Before=getty.target

[Service]
Type=oneshot
ExecStart=/usr/bin/azure-li-cleanup
ExecStartPost=/bin/bash -c 'rm -f /.azure-li-cleanup.trigger'

[Install]
WantedBy=multi-user.target
